# mongod.conf.j2

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: /var/lib/mongodb
#  journal:
#    enabled: true
  engine: wiredTiger
  wiredTiger:
    engineConfig:
      cacheSizeGB: {{ cache_size }}

# where to write logging data.
systemLog:
  destination: file
  path: /var/log/mongodb/mongodb.log
  verbosity: 0
  logRotate: rename
  logAppend: true

# network interfaces
net:
  port: {{ mongo_port }}
  bindIp: 0.0.0.0

#processManagement:

#security:

# Enable slow log
operationProfiling:
  slowOpThresholdMs: 100   
  mode: slowOp
  slowOpSampleRate: 1.0

replication:
  replSetName: {{ project_name }}
  oplogSizeMB: {{ opolog_size }}
  enableMajorityReadConcern: true

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:


